<!DOCTYPE html>
<html>
  <head>
    <title>UnifaPhotoSharing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if current_user %>
      <%= form_tag '/logout', method: :delete do %>
        <%= button_tag 'ログアウト' %>
      <%- end %>
    <%- end %>
    <%= yield %>
  </body>
</html>
